@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@font-face {
    font-family: 'Jaquel';
    src: url('Jaquel-HeavyItalic.eot');
    src: url('Jaquel-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('Jaquel-HeavyItalic.woff2') format('woff2'),
        url('Jaquel-HeavyItalic.woff') format('woff'),
        url('Jaquel-HeavyItalic.ttf') format('truetype'),
        url('Jaquel-HeavyItalic.svg#Jaquel-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}
  
@font-face {
    font-family: 'Jaquel';
    src: url('Jaquel-Regular.eot');
    src: url('Jaquel-Regular.eot?#iefix') format('embedded-opentype'),
        url('Jaquel-Regular.woff2') format('woff2'),
        url('Jaquel-Regular.woff') format('woff'),
        url('Jaquel-Regular.ttf') format('truetype'),
        url('Jaquel-Regular.svg#Jaquel-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Jaquel';
    src: url('Jaquel-BoldItalic.eot');
    src: url('Jaquel-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Jaquel-BoldItalic.woff2') format('woff2'),
        url('Jaquel-BoldItalic.woff') format('woff'),
        url('Jaquel-BoldItalic.ttf') format('truetype'),
        url('Jaquel-BoldItalic.svg#Jaquel-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
  
@font-face {
    font-family: 'Jaquel';
    src: url('Jaquel-Light.eot');
    src: url('Jaquel-Light.eot?#iefix') format('embedded-opentype'),
        url('Jaquel-Light.woff2') format('woff2'),
        url('Jaquel-Light.woff') format('woff'),
        url('Jaquel-Light.ttf') format('truetype'),
        url('Jaquel-Light.svg#Jaquel-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
  
@font-face {
    font-family: 'Jaquel';
    src: url('Jaquel-Heavy.eot');
    src: url('Jaquel-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Jaquel-Heavy.woff2') format('woff2'),
        url('Jaquel-Heavy.woff') format('woff'),
        url('Jaquel-Heavy.ttf') format('truetype'),
        url('Jaquel-Heavy.svg#Jaquel-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}
  
@font-face {
    font-family: 'Jaquel';
    src: url('Jaquel-Italic.eot');
    src: url('Jaquel-Italic.eot?#iefix') format('embedded-opentype'),
        url('Jaquel-Italic.woff2') format('woff2'),
        url('Jaquel-Italic.woff') format('woff'),
        url('Jaquel-Italic.ttf') format('truetype'),
        url('Jaquel-Italic.svg#Jaquel-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
  
@font-face {
    font-family: 'Jaquel';
    src: url('Jaquel-LightItalic.eot');
    src: url('Jaquel-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Jaquel-LightItalic.woff2') format('woff2'),
        url('Jaquel-LightItalic.woff') format('woff'),
        url('Jaquel-LightItalic.ttf') format('truetype'),
        url('Jaquel-LightItalic.svg#Jaquel-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}
  
@font-face {
    font-family: 'Jaquel';
    src: url('Jaquel-Bold.eot');
    src: url('Jaquel-Bold.eot?#iefix') format('embedded-opentype'),
        url('Jaquel-Bold.woff2') format('woff2'),
        url('Jaquel-Bold.woff') format('woff'),
        url('Jaquel-Bold.ttf') format('truetype'),
        url('Jaquel-Bold.svg#Jaquel-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

:root {
    --orangered: #ff5719;
}

.wrapper{
    position: fixed; display: none;
    top: 0; left: 0; height: 100vh; width: 100%; 
    background: linear-gradient(125deg, #191919, #4c4c4c, #666666);
    background-size:300%; clip-path: circle(25px at calc(100% - 50px) 60px);
    transition: all 0.5s ease-in-out; z-index: 50;
    font-family: 'Jaquel'; font-weight: 900; letter-spacing: 3px;
    animation: bganimation 6s infinite;
}
@keyframes bganimation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

#active:checked ~ .wrapper{
    clip-path: circle(75%); z-index: 100;
}
.menu-btn{
    position: absolute; z-index: 1030;
    right: 20px; top: 25px;
    height: 60px; width: 60px;
    text-align: center; line-height: 50px;
    border-radius: 50%; font-size: 20px;
    color: #191919; cursor: pointer;
    background: #fff; display: none;
    transition: all 0.3s ease-in-out; 
}
.fas{
    position: relative;
    top: 6.5px; font-size: 28px;
}

#active:checked ~ .menu-btn i:before{
    content: "\f00d"; 
    font-size: 35px;
    position: relative;
    top: 3.3px;
}

.wrapper ul{
    position: absolute; top: 15%;
    left: 0; right: 0;
    margin-left: -2em; margin-right: auto;
    list-style: none; text-align: center;
}
.wrapper ul li{
    margin: 30px 0;
}
.wrapper ul li a{
    color: none; text-decoration: none;
    font-size: 20px; font-weight: 500;
    padding: 5px 30px; color: #fff;
    position: relative; line-height: 50px;
    display: block; margin: auto;
}
.wrapper ul li a:hover:after{
    transform: scaleY(1);
}
.wrapper ul li a::after{
    content: ""; 
    height: 0.1em; width: 0%; 
    background-color: var(--orangered); 
    position: absolute; bottom: 0; 
    left: 0; right: 0; margin-left: auto;
    margin-right: auto; 
    transition: 0.5s ease all;
}
.wrapper ul li a:hover::after{
    width: 50%; 
}
.wrapper .active{
    color: #ff5719 !important; 
}
.wrapper .active::after{
    content: ""; 
    height: 0.1em; width: 50%; 
    background-color: var(--orangered); 
    position: absolute; bottom: 0; 
    left: 0; right: 0; margin-left: auto;
    margin-right: auto; transition: 0.5s ease all;
}

.wrapper .logo{
    width: 100px; position: absolute;
    top: 20px; left: 20px;
}

input[type="checkbox"]{
    display: none; 
}

@media only screen and (min-width:680px) and (max-width:990px){
    .wrapper .active::after{
        width: 30% !important; 
    }
    .wrapper ul li a:hover::after{
        width: 30% !important; 
    }
}

@media only screen and (max-width:990px) and (orientation: portrait){
    .wrapper{
        display: block;
    }
    .menu-btn{
        display: block;
    }
}
@media only screen and (max-width:990px) and (orientation: landscape){
    .wrapper{
        display: block;
    }
    .menu-btn{
        display: block;
    }
}
@media only screen and (max-height:510px) and (orientation: landscape){
    .wrapper ul{
        position: absolute; top: 5%;
    }
    .wrapper ul li {
        margin: 20px 0;
    }
}

