.wave{
  position: absolute; bottom: 0;
  left: 0; width: 100%;
}

.wave::after{
  content: ''; position: absolute;
  bottom: 0; left: 0; 
  width: 100%; height: 100%;
  background: url(../css/wave.svg) repeat-x;
  background-size: cover;
  background-position: 2700px 0;
  opacity: .7; 
  animation: waveOn 50s linear infinite;
}
@keyframes waveOn {
  50%{
    background-position: 0 0;
  }
}

/*Outside Elements*/
.outside-of-wave>div{
  z-index: 10;
}